<!DOCTYPE html>
<html>
<head>
  <title>Export Customers</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1>Export Customers</h1>

  <form action="/export/download" method="GET">

    <label>Filename</label>
    <input type="text" name="filename" value="export.txt">

    <button type="submit">Export Customers</button>

  </form>

  <br>

  <a href="/">Back Home</a>

</body>
</html>