<!DOCTYPE html>
<html>
<head>
  <title>Dang Customer App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Dang Customer Application</h1>

  <nav>
    <a href="/customers">Manage Customers</a>
    <a href="/import">Import Customers</a>
    <a href="/export">Export Customers</a>
  </nav>

  <footer>
    <p>Dang Customer App</p>
  </footer>
</body>
</html>